nav{
    text-align: center;
}
li{
    list-style-type: none;
    display: inline;margin: 2%;
}
.ubicacion{
    text-align: left;
}
body{
    font-family: sans-serif;
}
.img{
    width: 90px;
    height: 60px;
}

.colections {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.colections_description p {
    margin-bottom: 2rem;
}

.colections_description a {
    padding: .75rem;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

.cards {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.card_aviador,
.card_casa,
.card_cronografo {
    width: 300px;
}
